@media screen and (min-width: 768px) {
    
    nav {
        display: block !important;
    }

    #menu {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        background-color: transparent;
    }

    nav ul li a {
        padding: 0 1.5rem;
    }

    .gallery, .res-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}